.password-strength {
    margin-top: 10px;
    height: 10px;
    display: flex;
  }
  
  .strength-meter {
    display: flex;
    width: 100%;
  }
  
  .strength-meter .bar {
    height: 100%;
  }
  
  .password-match {
    margin-top: 10px;
    font-size: 14px;
  }
  